:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/* 
===========================
command styles
===========================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background);
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

img {
  display: block;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

section {
  padding: auto;
}

/* 
===========================
base styles
===========================
*/
.page-title,
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-background);
  text-align: center;
  letter-spacing: 0.02em;
}

.section-title,
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-title,
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
  margin-bottom: 8px;
}

.list-text,
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.container {
  width: 1158px;
  margin: auto 156px;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

section:not(:last-child) {
  margin-bottom: 120px;
}

div.card-text {
  padding: 32px 16px;
}

/* 
===========================
header
===========================
*/

header {
  border-bottom: 1px solid var(--light);
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand);
  margin-right: 76px;
}

span {
  color: var(--modal-overlay);
}

a.menu {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

a.menu:active,
a.menu:hover,
a.menu:focus {
  color: var(--pressed-state);
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address {
  font-style: normal;
}

.contakt {
  color: var(--text);
  font-style: normal;
}

.contakt:hover,
.contakt:focus {
  color: var(--pressed-state);
  font-style: normal;
}

/* 
===========================
section class="hero" 
===========================
*/

.hero {
  background-color: var(--dark);
  width: 100%;
  padding: 188px 0;
}

.cta-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-brand);
  color: var(--white-background);
  margin: 48px auto;
  padding: 16px 32px;
  border-radius: 4px;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--pressed-state);
}

/* 
===========================
section class="about" 
===========================
*/

/* 
===========================
section class="services" 
===========================
*/

/* 
===========================
section class="team" 
===========================
*/

.team {
  background-color: var(--light);
  padding: 120px 0;
}

.card {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

/* 
===========================
footer 
===========================
*/

.footer {
  background-color: var(--dark);
  padding: 100px 0;
}

.footer-text {
  color: var(--light);
  width: 264px;
  margin-top: 16px;
}
.footer-logo {
  color: var(--light);
}

/* 
===========================
portfolio 
===========================
*/

.filters-btn {
  background-color: var(--light);
  border: 1px var(--accent) solid;
  font-family: "Roboto", sans-serif;
  color: var(--primary-brand);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 12px 24px;
}

.filters-wrap {
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
}

.filters-btn:hover,
.filters-btn:active,
.filters-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.gallery-card-text {
  border: 1px var(--accent) solid;
  border-top: none;
}

.gallery-card-text > h2 {
  text-align: left;
}

.gallery-wrap {
  flex-wrap: wrap;
  margin: 72px auto 120px;
  row-gap: 48px;
}
